@import '../../styles/main';

.button {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  width: auto;
  line-height: 1.2;
  border-radius: $radii-md;
  font-weight: $font-weights-semibold;
  transition-property: $transition-property-common;
  transition-duration: $transition-duration-normal;
  height: $sizes-10;
  min-width: $sizes-10;
  font-size: $font-sizes-md;
  padding-inline-start: $space-4;
  padding-inline-end: $space-4;
}

.button-solid {
  &.button-primary {
    @include button-variant(
      $colors-white,
      $colors-primary-500,
      $colors-primary-500
    );
  }
  &.button-secondary {
    @include button-variant(
      $colors-white,
      $colors-secondary-500,
      $colors-secondary-500
    );
  }
  &.button-blue {
    @include button-variant($colors-white, $colors-blue-500, $colors-blue-500);
  }
  &.button-orange {
    @include button-variant(
      $colors-white,
      $colors-orange-500,
      $colors-orange-500
    );
  }
  &.button-green {
    @include button-variant(
      $colors-white,
      $colors-green-500,
      $colors-green-500
    );
  }
  &.button-black {
    @include button-variant($colors-white, $colors-black, $colors-black);
  }
  &.button-yellow {
    @include button-variant(
      $colors-white,
      $colors-yellow-500,
      $colors-yellow-500
    );
  }
  &.button-red {
    @include button-variant($colors-white, $colors-red-500, $colors-red-500);
  }
  &.button-success {
    @include button-variant($colors-white, $colors-success, $colors-success);
  }
  &.button-error {
    @include button-variant($colors-white, $colors-error, $colors-error);
  }
  &.button-warning {
    @include button-variant($colors-white, $colors-warning, $colors-warning);
  }
  &.button-info {
    @include button-variant($colors-white, $colors-info, $colors-info);
  }
}

.button-outlined {
  border: 1px solid;

  &.button-primary {
    @include button-variant(
      $colors-primary-500,
      transparent,
      $colors-primary-500
    );
  }
  &.button-secondary {
    @include button-variant(
      $colors-secondary-500,
      transparent,
      $colors-secondary-500
    );
  }
  &.button-blue {
    @include button-variant($colors-blue-500, transparent, $colors-blue-500);
  }
  &.button-orange {
    @include button-variant(
      $colors-orange-500,
      transparent,
      $colors-orange-500
    );
  }
  &.button-green {
    @include button-variant($colors-green-500, transparent, $colors-green-500);
  }
  &.button-black {
    @include button-variant($colors-black, transparent, $colors-black);
  }
  &.button-yellow {
    @include button-variant(
      $colors-yellow-500,
      transparent,
      $colors-yellow-500
    );
  }
  &.button-red {
    @include button-variant($colors-red-500, transparent, $colors-red-500);
  }
  &.button-success {
    @include button-variant($colors-success, transparent, $colors-success);
  }
  &.button-error {
    @include button-variant($colors-error, transparent, $colors-error);
  }
  &.button-warning {
    @include button-variant($colors-warning, transparent, $colors-warning);
  }
  &.button-info {
    @include button-variant($colors-info, transparent, $colors-info);
  }
}

.button-clean {
  &.button-primary {
    @include button-variant-clean($colors-primary-500);
  }
  &.button-secondary {
    @include button-variant-clean($colors-secondary-500);
  }
  &.button-blue {
    @include button-variant-clean($colors-blue-500);
  }
  &.button-orange {
    @include button-variant-clean($colors-orange-500);
  }
  &.button-green {
    @include button-variant-clean($colors-green-500);
  }
  &.button-black {
    @include button-variant-clean($colors-black);
  }
  &.button-yellow {
    @include button-variant-clean($colors-yellow-500);
  }
  &.button-red {
    @include button-variant-clean($colors-red-500);
  }
  &.button-success {
    @include button-variant-clean($colors-success);
  }
  &.button-error {
    @include button-variant-clean($colors-error);
  }
  &.button-warning {
    @include button-variant-clean($colors-warning);
  }
  &.button-info {
    @include button-variant-clean($colors-info);
  }
}

.button-link {
  height: auto;
  padding-inline-start: 0;
  padding-inline-end: 0;

  &.button-primary {
    @include button-variant-link($colors-primary-500);
  }
  &.button-secondary {
    @include button-variant-link($colors-secondary-500);
  }
  &.button-blue {
    @include button-variant-link($colors-blue-500);
  }
  &.button-orange {
    @include button-variant-link($colors-orange-500);
  }
  &.button-green {
    @include button-variant-link($colors-green-500);
  }
  &.button-black {
    @include button-variant-link($colors-black);
  }
  &.button-yellow {
    @include button-variant-link($colors-yellow-500);
  }
  &.button-red {
    @include button-variant-link($colors-red-500);
  }
  &.button-success {
    @include button-variant-link($colors-success);
  }
  &.button-error {
    @include button-variant-link($colors-error);
  }
  &.button-warning {
    @include button-variant-link($colors-warning);
  }
  &.button-info {
    @include button-variant-link($colors-info);
  }
}
