@import '../../../styles/main';

$button-color-primary: $colors-primary-500;
$button-color-secondary: $colors-secondary-500;
$button-color-white: $colors-white-500;
$button-color-black: $colors-black-500;
$button-color-gray: $colors-gray-500;
$button-color-red: $colors-red-500;
$button-color-orange: $colors-orange-500;
$button-color-yellow: $colors-yellow-500;
$button-color-green: $colors-green-500;
$button-color-teal: $colors-teal-500;
$button-color-blue: $colors-blue-500;
$button-color-cyan: $colors-cyan-500;
$button-color-purple: $colors-purple-500;
$button-color-pink: $colors-pink-500;
$button-color-linkedin: $colors-linkedin-500;
$button-color-facebook: $colors-facebook-500;
$button-color-messenger: $colors-messenger-500;
$button-color-whatsapp: $colors-whatsapp-500;
$button-color-twitter: $colors-twitter-500;
$button-color-telegram: $colors-telegram-500;
$button-color-success: $colors-success-500;
$button-color-error: $colors-error-500;
$button-color-warning: $colors-warning-500;
$button-color-info: $colors-info-500;
$button-color-transparent: transparent;
