@import '../../../styles/main';
@import 'variables';
@import 'solid';
@import 'outlined';
@import 'link';
@import 'clean';

.button {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: $colors-transparent solid 2px;
  outline-offset: 2px;
  width: auto;
  line-height: 1.2;
  border-radius: $radii-md;
  font-weight: $font-weights-semibold;
  transition-property: $transition-property-common;
  transition-duration: $transition-duration-normal;
  height: $sizes-10;
  min-width: $sizes-10;
  font-size: $font-sizes-md;
  padding-inline-start: $space-4;
  padding-inline-end: $space-4;
}
