html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  width: 100%;
  height: auto;
  min-height: 100% !important;
  color: #0e2524 !important;
  box-sizing: border-box;
}

a:hover,
a:focus,
a:active {
  color: #24615e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

pre {
  width: 100% !important;
  margin: 0 !important;
  display: flex !important;
  overflow: hidden !important;
  word-break: break-word !important;
  white-space: pre-line !important;
  font-family: unset !important;
  font-size: inherit !important;
}
